:root {
  --background-color-dt: #121721;
  --background-color-lt: #f4f6f8;
  --secondary-background-color-dt: #19202d;
  --secondary-background-color-lt: #ffffff;
  --text-color-lt: #ffffff;
  --text-color-dt: #19202d;
  --secondary-text-color-lt: #6e8098;
  --secondary-text-color-dt: #9daec2;
}

[data-theme='light'] {
  --background-color: var(--background-color-lt);
  --secondary-background-color: var(--secondary-background-color-lt);
  --text-color: var(--text-color-dt);
  --secondary-text-color: var(--secondary-text-color-lt);
}

[data-theme='dark'] {
  --background-color: var(--background-color-dt);
  --secondary-background-color: var(--secondary-background-color-dt);
  --text-color: var(--text-color-lt);
  --secondary-text-color: var(--secondary-text-color-dt);
}

.wrapper {
  width: 1440px;
  max-width: 100%;
  height: 100%;
  background-color: var(--background-color);
  margin: 0 auto;
}
